<div class="card-panel">
  <form [formGroup]="itemForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <input id="operation" formControlName="name" type="text" autocomplete="off">
        <label for="operation">Nazwa</label>
        <span
          class="helper-text red-text"
          *ngIf="itemForm.get('name').invalid && itemForm.get('name').touched"
        >
        <span *ngIf="itemForm.get('name')['errors']['required']">
          Wymagane pole
        </span>
      </span>
      </div>
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light right" type="submit">
          Dodaj
          <i class="material-icons right">add</i>
        </button>
      </div>
    </div>
  </form>
  <ul class="collection">
    <ng-template #noItems>
      <li class="collection-item">
        Brak
      </li>
    </ng-template>
    <ng-container *ngIf="shoppingListItems.length > 0; else noItems">
      <li class="collection-item" *ngFor="let shoppingItem of shoppingListItems; let i = index">
        {{shoppingItem.name}}
        <a (click)="deleteItem(i)" style="cursor: pointer" class="secondary-content"><i class="material-icons">clear</i></a>
      </li>
    </ng-container>
  </ul>
</div>
